@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');



body{

    text-align: center;
    background-color: #184d47;

    
}

h1{

    font-family: 'Fira Sans', sans-serif;
    font-size: 70px;
    color: #ffff;
    

}

h2{

    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
    



}

.dice-container-P1{

   
   display: inline-block;
   justify-content: center;
  
}

.dice-container-P2{

   
    display: inline-block;
    justify-content: center;
   
 }

.dice1{

    width: 300px;
    margin: 50px 50px;
    border-radius: 50px;
}

.dice2{

    width: 300px;
    margin: 50px 50px;
    border-radius: 50px;
}

.btn{

    display: flex;
    justify-content: center;
    text-align: center;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #222831;
	background-color:#222831;
	border-radius:5px;
	border:1px solid #222831;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #222831;
  
}
.myButton:hover {
	
	background-color:#222831;
}

